.slider-container {
  width: 100%;
  max-width: 500px; /* Adjust the maximum width as needed */
  margin: 0 auto; /* Center the container horizontally */
  position: relative;
  overflow: hidden;
  margin-top: 50px;
}

.slide {
  display: none;
}

.slide img {
  width: 100%;
  height: auto;
}

.prev-btn, .next-btn {
  background-color:transparent;
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: large;
  padding: 10px 20px;

  border: none;
  cursor: pointer;
  top: 50%;
  transform: translateY(-460%);
  z-index: 1;
}

.prev-btn {
  left: 0;
  margin-right: 394px;
}

.next-btn {
  right: 0;
}
h1, p{
  text-align: center;
}